<div class="button-bar padding-bottom">
  <a class="button button-positive button-small" ng-class="{'button-outline': state != 'points'}" ui-sref="app.points">Po nazwie</a>
  <a class="button button-positive button-small" ng-class="{'button-outline': state != 'streets'}" ui-sref="app.streets">Po ulicy</a>
  <a class="button button-positive button-small" ng-class="{'button-outline': state != 'lines'}"  ui-sref="app.lines">Po linii</a>
</div>
