<ion-item class="item-stops item-icon-right" ng-repeat="stop in stops" type="item-text-wrap" ui-sref="{{state}}({tag: stop.bollard.tag, name: stop.bollard.name})">
  <h2>{{::stop.bollard.name}} ({{::stop.bollard.tag}})</h2>
  <p>
    <span ng-repeat="direction in stop.directions"><span class="direction-label">{{::direction.lineName}} -> {{::direction.direction}}</span> </span>
  </p>
  <i class="icon ion-chevron-right icon-accessory"></i>
</ion-item>
