<ion-view hide-back-button="true" hide-nav-bar="true" view-title="">
  <ion-content class="home">
    <div class="home-content">
      <div class="app-name">
        <h1>Odjazdy MPK</h1>
        <h2>Poznań</h2>
      </div>
      <div class="tiles">
        <div class="row">
          <div class="col">
            <a ui-sref="app.points" class="tile">
              <i class="ion-search icon"></i>
              <span>Wyszukaj przystanek</span>
            </a>
          </div>
          <div class="col">
            <a ui-sref="app.favorites" class="tile">
              <i class="ion-star icon"></i>
              <span>Ulubione</span>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a ui-sref="app.recently_watched" class="tile">
              <i class="ion-clock icon"></i>
              <span>Ostatnio oglądane</span>
            </a>
          </div>
          <div class="col">
            <a ui-sref="app.map" class="tile">
              <i class="ion-ios-location icon"></i>
              <span>Przystanki w pobliżu</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
