<ion-view view-title="Wyszukaj przystanek po linii" hide-back-button="true">
  <ion-content class="padding">
    <ng-include src="'templates/_buttons_header.html'"></ng-include>
    <div class="list">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="number" ng-model="search.data" ng-change="getLines()" placeholder="Wprowadź linię">
      </label>
    </div>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="line in lines" type="item-text-wrap" ui-sref="app.line_stops({name: line.name})">
        <h2>Linia: {{::line.name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
