<ion-view view-title="Wyszukaj przystanek po linii">
  <ion-content class="padding">
    <ion-list>
      <div ng-repeat="direction in ::directions">
        <div class="item item-divider item-icon-left" ng-click="toggleDirection(direction)">
          <i class="icon ion-ios-plus-empty" ng-if="!direction.visible"></i>
          <i class="icon ion-ios-minus-empty" ng-if="direction.visible"></i>
          <h2>Linia: {{::direction.direction.lineName}}</h2>
          <p>Kierunek: {{::direction.direction.direction}}</p>
        </div>
        <div ng-if="direction.visible">
          <ion-item class="item-stops item-icon-right" ng-repeat="stop in ::direction.bollards" type="item-text-wrap" ui-sref="app.stop({tag: stop.tag, name: stop.name})">
            <h3>{{::stop.name}} ({{::stop.tag}})</h3>
            <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
