<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-positive">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close class="item-icon-left" ui-sref="app.points">
          <i class="ion-search icon text-calm"></i> Wyszukaj przystanek
        </ion-item>
        <ion-item menu-close class="item-icon-left" ui-sref="app.favorites">
          <i class="ion-star icon text-energized"></i> Ulubione
        </ion-item>
        <ion-item menu-close class="item-icon-left" ui-sref="app.recently_watched">
          <i class="ion-clock icon text-royal"></i> Ostatnio oglądane
        </ion-item>
        <ion-item menu-close class="item-icon-left" ui-sref="app.map">
          <i class="ion-ios-location icon text-balanced"></i> Przystanki w pobliżu
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
