<ion-view hide-back-button="true" view-title="Wyszukaj przystanek po nazwie">
  <ion-content class="padding">
    <ng-include src="'templates/_buttons_header.html'"></ng-include>
    <div class="list">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="search.data" ng-change="getPoints()" placeholder="Wprowadź przystanek">
      </label>
    </div>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="point in points" type="item-text-wrap" ui-sref="app.point_stops({name: point.name})">
        <h2>Symbol: {{::point.symbol}}</h2>
        <p>Nazwa: {{::point.name}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
