<ion-view view-title="Wyszukaj przystanek po nazwie">
  <ion-content class="padding">
    <ion-list>
      <stops-list data-stops="stops" data-state="app.stop"></stops-list>
    </ion-list>
  </ion-content>
</ion-view>
