<ion-view hide-back-button="true" view-title="Ostatnio oglądane">
  <ion-content class="padding">
    <ion-list>
      <stops-list data-stops="stops" data-state="app.stop"></stops-list>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
