<ion-view view-title="{{stop.bollard.name}} ({{stop.bollard.tag}})">
  <ion-content class="padding">
    <a class="message-box" href ng-if="message" ng-click="messageAlert(message)">
      <span class="message-icon"><i class="icon ion-information-circled"></i></span>
      <span class="message-content" ng-bind-html="message"></span>
    </a>
    <div class="table-box">
      <div class="table-col max-width">
        <div class="">Stan z godziny: {{timesDate | date: "HH:mm"}}</div>
      </div>
      <div class="table-col">
        <a href class="favorite-toggle" ng-click="setFavorite()" ng-class="{'active': stop.favorite}"><i class="icon ion-star"></i></a>
      </div>
    </div>

    <table class="table times-table">
      <thead>
        <tr>
          <th>Linia</th>
          <th>Kierunek</th>
          <th><a href class="help-link" ng-click="showHelpMessage()">Odjazd <i class="icon ion-help-circled"></i></a></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="time in times">
          <td class="times-line"><span ng-bind="::time.line"></span></td>
          <td ng-bind="::time.direction"></td>
          <td class="times-departure">
            <p ng-if="time.realTime" class="text-balanced"><span ng-bind="::time.minutes"></span> min.</p>
            <p>{{::time.departure | date : "HH:mm" : "UTC"}}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </ion-content>
</ion-view>
