<ion-view view-title="Wyszukaj przystanek po ulicy" hide-back-button="true">
  <ion-content class="padding">
    <ng-include src="'templates/_buttons_header.html'"></ng-include>
    <div class="list">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="search.data" ng-change="getStreets()" placeholder="Wprowadź ulicę">
      </label>
    </div>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="street in streets" type="item-text-wrap" ui-sref="app.street_stops({name: street.name})">
        <h2>{{::street.name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
