<ion-view view-title="Wyszukaj przystanek po ulicy">
  <ion-content class="padding">
    <ion-list>
      <stops-list data-stops="stops" data-state="app.stop"></stops-list>
    </ion-list>
    <div class="card" ng-if="stops.length == 0">
      <div class="item item-text-wrap text-center">
        Brak przystanków dla ulicy {{::street}}
      </div>
    </div>
  </ion-content>
</ion-view>
