//
// To customize the look and feel of Ionic, you can override the variables
// in ionic's _variables.scss file.
//
// For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;


// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;
$item-divider-bg: $positive !default;
$item-divider-color: #fff !default;
$item-icon-accessory-color: $calm !default;
$popup-background-color: #fff;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.scroll {
  height: 100%;
}

.popup-container {
  z-index: 14;
}

.favorite-toggle {
  font-size: 35px;
  color: #999;
  &.active {
    color: $energized;
  }
}

.home {
  background: #ffffff url("../img/bg.jpg") no-repeat center center;
  background-size: cover;
  .home-content {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 100%;
    height: 100%;
    .app-name {
      text-align: center;
      position: fixed;
      top: 10%;
      width: 100%;
      h1, h2 {
        color: #fff;
        text-shadow: 1px 1px #666;
      }
    }
    .tiles {
      position: fixed;
      bottom: 10%;
      width: 100%;
      padding: 0 10px;
    }
  }
}

.tile {
  display: block;
  background-color: $positive;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  .icon {
    display: block;
    font-size: 40px;
    padding: 10px;
  }
  span {
    font-size: 10px;
    white-space: nowrap;
    overflow-x: hidden;
  }
}

.text-calm {
  color: $calm;
}
.text-energized {
  color: $energized;
}
.text-balanced {
  color: $balanced;
}
.text-royal {
  color: $royal;
}

.message-box {
  position: relative;
  height: 40px;
  padding: 10px 0;
  display: block;
  background-color: $assertive;
  margin: -10px -10px 10px;
  .message-content {
    white-space: nowrap;
    position: absolute;
    color: #fff;
    height: 100%;
    transform:translateX(100vw);
    @-webkit-keyframes message_start {
      0% { transform:translateX(40px); }
      20% { transform:translateX(40px); }
      100% { transform:translateX(- 100%); }
    }

    @-webkit-keyframes message {
      0% { transform:translateX(100vw); }
      100% { transform:translateX(-100%); }
    }
    -webkit-animation: message_start 20s linear, message 24s linear 20s infinite
  }
  .message-icon {
    display: block;
    background-color: $assertive;
    position: absolute;
    top: 10px;
    left: 0px;
    width: 40px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    z-index: 100;
  }
}

.table-box {
  display: table;
  width: 100%;
  .table-col {
    display: table-cell;
    vertical-align: middle;
    &.pr {
      padding-right: 10px;
    }
    &.pl {
      padding-left: 10px;
    }
    &.max-width {
      width: 10000px;
    }
  }
}

.item-stops .item-content p {
  white-space: normal !important;
}

.direction-label {
  display: inline-block;
  background-color: $positive;
  border-radius: 10px;
  padding: 0px 8px;
  margin-bottom: 3px;
  color: #fff;
  font-size: 0.8em;
}

.item-divider {
  &.activated {
    background-color: $positive;
  }
  h2, p {
    color: inherit;
  }
}

.times-table {
  margin-top: 10px;
  width: 100%;
  text-align: left;
  thead > tr > th {
    font-weight: bold;
    padding: 5px;
    border-bottom: 2px solid $positive;
    .help-link {
      text-decoration: none;
      color: $royal;
      white-space: nowrap;
    }
  }
  tbody > tr > td {
    padding: 5px;
    vertical-align: middle;
    border-bottom: 1px solid #dadada;
    height: 55px;
  }
  .times-line {
    width: 50px;
    padding-right: 15px;
    > span {
      display: block;
      width: 36px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      background-color: $positive;
      border-radius: 50%;
      color: #fff;
    }
  }
  .times-departure {
    color: #666;
    font-weight: bold;
    width: 70px;
    text-align: right;
    p {
      margin: 0;
    }
  }
}

ui-gmap-google-map {
  height: 100%;
  .angular-google-map {
    height: 100%;
    .angular-google-map-container {
      height: 100%;
    }
  }
}
